.min-vh-100 {
    min-height: 100vh;
  }
  
  .min-vh-100 {
    min-height: 100vh;
    background: linear-gradient(135deg, #ffffff, #4cac5c, #dfe9f3); /* Soft white to light blue gradient */
}

  
  .task-completed {
    text-decoration: line-through;
    opacity: 0.7;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .row {
      flex-direction: column;
    }
    .col-md-4, .col-md-8 {
      width: 100%;
    }
  }